# Strings Lab

In [3]:
raw_string = r'one\two'

In [4]:
raw_string

'one\\two'

In [5]:
regular_string = 'one\two'

In [6]:
regular_string

'one\two'

Convert to and back from ordinals

In [7]:
for i in 'yoda':
    print(ord(i))

121
111
100
97

In [8]:
for i in (121, 111, 100, 97):
    print(chr(i), end='')

yoda

# String Formatting

In [11]:
stringa = 'this is a string'

In [12]:
'Hello {}!'.format(stringa)

'Hello this is a string!'

In [14]:
stringb = 'another string'

In [15]:
'Hello {}! {}'.format(stringa, stringb)

'Hello this is a string! another string'

Hanging comma is not an error - is goodf to have when have many args for nice formatting

In [16]:
'Hello {first_string}! {second_string}'.format(second_string=stringa, first_string=stringb, )

'Hello another string! this is a string'

# File and Streams

In [18]:
with open('test.txt', 'r') as f:
    read_data = f.read()

In [19]:
f.closed

True

In [20]:
read_data

'This is a blank text file\nIt has some words in it\nBlah blah blah blah'

In [21]:
print(read_data)

This is a blank text file
It has some words in it
Blah blah blah blah

# File Lab

In [59]:
with open('students.txt', 'r') as s:
    students = s.read()

In [60]:
studentsplit = []

In [61]:
for word in students.split('\n'):
    if len(word)>0:
        studentsplit.append(word)

In [62]:
print(studentsplit)

['Bindhu, Krishna: ', 'Bounds, Brennen: English', 'Gregor, Michael: English', 'Holmer, Deana: SQL, English', 'Kumar, Pradeep: English, Hindi, Python, shell, d2k, SQL, Perl', 'Rees, Susan: English, Latin, HTML, CSS, Javascript, Ruby, SQL', 'Rudolph, John: English, Python, Sass, R, Basic', 'Solomon, Tsega: C, C++, Perl, VHDL, Verilog, Specman', 'Warren, Benjamin: English', 'Aleson, Brandon: English', 'Chang, Jaemin: English', 'Chinn, Kyle: English', 'Derdouri, Abderrazak: English', 'Fannin, Calvin: C#, SQL, R', 'Gaffney, Thomas: SQL, Python, R, VBA, English', 'Glogowski, Bryan: Basic, Pascal, C, Perl, Ruby', 'Ganzalez, Luis: Basic, C++, Python, English, Spanish', 'Ho, Chi Kin: English', 'McKeag, Gregory: C, Lisp, C++, Objective-C, SQL, R, Pascal, Ada, Perl, Prolog, Scheme, Assembley', 'Myerscough, Damian: ', 'Newton, Michael: Python, Perl, Matlab', 'Sarpangala, Kishan: ', 'Schincariol, Mike: Python, C#, C, Tcl, VBA, Perl, Bash, VHDL, Verilog, Matlab', 'Zhao, Yuanrui: ']

In [64]:
namelan = []
for word in studentsplit:
    namelan.append(word.split(':'))

In [65]:
print(namelan)

[['Bindhu, Krishna', ' '], ['Bounds, Brennen', ' English'], ['Gregor, Michael', ' English'], ['Holmer, Deana', ' SQL, English'], ['Kumar, Pradeep', ' English, Hindi, Python, shell, d2k, SQL, Perl'], ['Rees, Susan', ' English, Latin, HTML, CSS, Javascript, Ruby, SQL'], ['Rudolph, John', ' English, Python, Sass, R, Basic'], ['Solomon, Tsega', ' C, C++, Perl, VHDL, Verilog, Specman'], ['Warren, Benjamin', ' English'], ['Aleson, Brandon', ' English'], ['Chang, Jaemin', ' English'], ['Chinn, Kyle', ' English'], ['Derdouri, Abderrazak', ' English'], ['Fannin, Calvin', ' C#, SQL, R'], ['Gaffney, Thomas', ' SQL, Python, R, VBA, English'], ['Glogowski, Bryan', ' Basic, Pascal, C, Perl, Ruby'], ['Ganzalez, Luis', ' Basic, C++, Python, English, Spanish'], ['Ho, Chi Kin', ' English'], ['McKeag, Gregory', ' C, Lisp, C++, Objective-C, SQL, R, Pascal, Ada, Perl, Prolog, Scheme, Assembley'], ['Myerscough, Damian', ' '], ['Newton, Michael', ' Python, Perl, Matlab'], ['Sarpangala, Kishan', ' '], ['Schincariol, Mike', ' Python, C#, C, Tcl, VBA, Perl, Bash, VHDL, Verilog, Matlab'], ['Zhao, Yuanrui', ' ']]

In [72]:
lang = {}
for lan in namelan:
    for i,x in enumerate(lan):

['Bindhu, Krishna', ' ']
['Bounds, Brennen', ' English']
['Gregor, Michael', ' English']
['Holmer, Deana', ' SQL, English']
['Kumar, Pradeep', ' English, Hindi, Python, shell, d2k, SQL, Perl']
['Rees, Susan', ' English, Latin, HTML, CSS, Javascript, Ruby, SQL']
['Rudolph, John', ' English, Python, Sass, R, Basic']
['Solomon, Tsega', ' C, C++, Perl, VHDL, Verilog, Specman']
['Warren, Benjamin', ' English']
['Aleson, Brandon', ' English']
['Chang, Jaemin', ' English']
['Chinn, Kyle', ' English']
['Derdouri, Abderrazak', ' English']
['Fannin, Calvin', ' C#, SQL, R']
['Gaffney, Thomas', ' SQL, Python, R, VBA, English']
['Glogowski, Bryan', ' Basic, Pascal, C, Perl, Ruby']
['Ganzalez, Luis', ' Basic, C++, Python, English, Spanish']
['Ho, Chi Kin', ' English']
['McKeag, Gregory', ' C, Lisp, C++, Objective-C, SQL, R, Pascal, Ada, Perl, Prolog, Scheme, Assembley']
['Myerscough, Damian', ' ']
['Newton, Michael', ' Python, Perl, Matlab']
['Sarpangala, Kishan', ' ']
['Schincariol, Mike', ' Python, C#, C, Tcl, VBA, Perl, Bash, VHDL, Verilog, Matlab']
['Zhao, Yuanrui', ' ']

In [71]:
print(lang)

{' English, Hindi, Python, shell, d2k, SQL, Perl': ' English, Hindi, Python, shell, d2k, SQL, Perl', ' English, Python, Sass, R, Basic': ' English, Python, Sass, R, Basic', ' Python, Perl, Matlab': ' Python, Perl, Matlab', ' ': ' ', ' SQL, Python, R, VBA, English': ' SQL, Python, R, VBA, English', ' C#, SQL, R': ' C#, SQL, R', ' Basic, Pascal, C, Perl, Ruby': ' Basic, Pascal, C, Perl, Ruby', ' Python, C#, C, Tcl, VBA, Perl, Bash, VHDL, Verilog, Matlab': ' Python, C#, C, Tcl, VBA, Perl, Bash, VHDL, Verilog, Matlab', ' C, Lisp, C++, Objective-C, SQL, R, Pascal, Ada, Perl, Prolog, Scheme, Assembley': ' C, Lisp, C++, Objective-C, SQL, R, Pascal, Ada, Perl, Prolog, Scheme, Assembley', ' English, Latin, HTML, CSS, Javascript, Ruby, SQL': ' English, Latin, HTML, CSS, Javascript, Ruby, SQL', ' English': ' English', ' SQL, English': ' SQL, English', ' C, C++, Perl, VHDL, Verilog, Specman': ' C, C++, Perl, VHDL, Verilog, Specman', ' Basic, C++, Python, English, Spanish': ' Basic, C++, Python, English, Spanish'}

# Correct way to do this

In [78]:
with open('students.txt', 'r') as f:
    for lines in f:
        students_languages = lines.split(':')[1]
        print(students_languages)

 English

 English

 SQL, English

 English, Hindi, Python, shell, d2k, SQL, Perl

 English, Latin, HTML, CSS, Javascript, Ruby, SQL

 English, Python, Sass, R, Basic

 C, C++, Perl, VHDL, Verilog, Specman

 English

 English

 English

 English

 English

 C#, SQL, R

 SQL, Python, R, VBA, English

 Basic, Pascal, C, Perl, Ruby

 Basic, C++, Python, English, Spanish

 English

 C, Lisp, C++, Objective-C, SQL, R, Pascal, Ada, Perl, Prolog, Scheme, Assembley



 Python, Perl, Matlab



 Python, C#, C, Tcl, VBA, Perl, Bash, VHDL, Verilog, Matlab

In [83]:
language_set = set()
with open('students.txt', 'r') as f:
    for lines in f:
        students_languages = lines.split(':')[1]
        language_list = students_languages.split(',')        
        for item in language_list:
            language_set.add(item)

In [84]:
print(language_set)

{' Basic\n', ' Ruby', ' Lisp', ' Ruby\n', ' VHDL', ' SQL', ' Bash', ' C#', ' Latin', ' Python', ' C++', ' Tcl', ' Assembley\n', ' C', ' Basic', ' R', ' Perl\n', ' Ada', ' Pascal', ' CSS', ' Sass', ' Scheme', ' shell', ' English\n', ' Objective-C', ' \n', ' Spanish\n', ' Specman\n', ' English', ' Javascript', ' Perl', ' R\n', ' Hindi', ' HTML', ' VBA', ' d2k', ' Prolog', ' SQL\n', ' Verilog', ' Matlab\n'}